# Ignore everything
*

# But not Java files...
!.gitignore
!*.java
!README.md
!LICENSE
!gradlew.bat
!gradlew
!build.gradle.kts
!.travis.yml
!settings.gradle
!*.lua
!*.sh
!scripts/output/*.txt
!scripts/output/*.svg
!gradle/wrapper/*
!testTesults/stage_2/*
!testTesults/stage_3/*
!testTesults/stage_4/*
!testTesults/stage_5/*
!testTesults/stage_6/*
!testTesults/reports/*

# ...even if they are in subdirectories
!*/
