# Ignore everything
*

# But not Java files...
!.gitignore
!*.java
!README.md
!LICENSE
!gradlew.bat
!gradlew
!build.gradle.kts
!.travis.yml
!settings.gradle
!*.lua
!*.sh
#!*.svg
!scripts/output/*.txt
!scripts/output/*.svg
!gradle/wrapper/*
!scripts/stage_2/*
!scripts/stage_3/*

# ...even if they are in subdirectories
!*/
